.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    font-size: 1.5rem;
}

.nav-route {
    all: unset;
    cursor: pointer;
}