<div class="flex flex-col justify-start items-center text-center min-h-screen">
  <h1>{{ quote }}</h1>
  <!-- <img src="#" alt="me"> -->
  <div class="hidden md:flex flex-row justify-center items-stretch min-w-full">
    <div class="p-2">
      <input
        type="radio"
        class="hidden peer"
        name="skillTab"
        id="frontend-skills"
        checked
        (change)="changeSkillTab($event)"
      />
      <label class="p-2 mx-1 border border-gray-200 cursor-pointer text-emerald-500 peer-checked:text-fuchsia-600" for="frontend-skills">Frontend Skills</label>
    </div>
    <div class="p-2">
      <input
        type="radio"
        class="hidden peer"
        name="skillTab"
        id="backend-skills"
        (change)="changeSkillTab($event)"
      />
      <label class="p-2 mx-1 border border-gray-200 cursor-pointer text-emerald-500 peer-checked:text-fuchsia-600" for="backend-skills">Backend Skills</label>
    </div>
  </div>
  <app-frontend-skills
    *ngIf="skillTab === 'frontend-skills'"
  ></app-frontend-skills>
  <app-backend-skills
    *ngIf="skillTab === 'backend-skills'"
  ></app-backend-skills>
</div>
